#cv-form {
    
}

#cv-template{
    display: none;
}

.pfp{
    background-color:red;
    border-radius: 50%;
    width:200px;
}

.background{
    background-color:red;
}

.btn-success{
    color:white;
}

.btn-success:hover{
    font-size: x-large;
}